.item {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.description {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image{
    max-width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
